*,
*::before,
*::after {
  box-sizing: border-box;
}

*:active {
  transition: none;
  transform: none;
}

html {
  display: flex;
  block-size: 100%;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
button,
blockquote,
fieldset,
body {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.page {
  display: flex;
  width: 1200px;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 1140px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 133px 30px;
  background-color: #1b1919;
}

.result {
  display: flex;
  flex-direction: column;
}

.result__video-container {
  display: flex;
  position: relative;
  min-width: 711px;
  max-height: 386px;
  margin-top: 78px;
  margin-bottom: 16px;
}

.result__video {
  width: 711px;
  height: 386px;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  width: 711px;
  height: 54px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  color: rgb(255, 255, 255);
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  appearance: none;
  margin-bottom: 5px;
  align-items: flex-end;
}

.search-form__label span {
  display: inline-block;
}

.search-form__label {
  display: flex;
  width: fit-content;
  align-items: center;
  cursor: pointer;
  padding: 2px;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  align-items: center;
}

.search-form__pseudo-checkbox {
  margin-right: 5px;
  align-self: center;
}

.search-form__label-text {
  color: rgb(255, 255, 255);
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

input[type="checkbox"]+span {
  width: 19px;
  height: 19px;
  background: transparent;
  border: 1px solid #fff;
}

input[type="checkbox"]:hover~.search-form__label-text {
  text-decoration: underline;
}

input[type="checkbox"]:active+span {
  background-color: #fff;
  outline: 2px solid #1b1919;
  outline-offset: -3px;
}

input[type="checkbox"]:checked+span {
  background-color: #fff;
  outline: 2px solid #1b1919;
  outline-offset: -3px;
}

label[class="search-form__label"]:focus+span {
  outline: none;
}

label[class="search-form__label"]:focus-visible+span {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield {
  width: 225px;
  height: 26px;
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  background: transparent;
  appearance: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-right: none;
  border-left: none;
  outline: none;
  align-items: flex-end;
}

.search-form__textfield:active {
  border: none;
  outline: 1px solid #fff;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button {
  height: 34px;
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  border: 1px solid #fff;
  cursor: pointer;
}

.button:hover {
  text-decoration-line: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 0;
}

.button:active {
  background: rgb(84, 80, 80);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  width: 194px;
  align-self: flex-end;
}

.content__details {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 26px;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 92%;
  text-align: left;
  text-transform: uppercase;
  justify-content: flex-start;
  align-items: flex-start;
}

.content__accent {
  width: 100%;
  color: #545050;
  line-height: 92%;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 298px;
  overflow: auto;
}

.content__list::-webkit-scrollbar {
  width: 0;
}

.content__list-item {
  display: block;
  min-width: 398px;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__list-item:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

.content__list-item:active {
  text-decoration: none;
  background: rgb(84, 80, 80);
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
  margin: 2px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__card-link_current {
  background: rgb(84, 80, 80);
}

.content__video-card {
  display: flex;
  align-content: flex-start;
}

.content__video-card-description-container {
  width: 100%;
}

.content__video-card-title {
  width: 200px;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 6px;
  flex: 1;
}

.content__video-card-description {
  width: 200px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  letter-spacing: 0%;
  text-align: left;
  flex: 1;
}

.content__video-card-thumbnail {
  display: flex;
  width: 194px;
  height: 103px;
  object-fit: cover;
}

.more-button {
  width: 398px;
  margin: 2px;
}